.cart_items {
    max-width: 60%;
    margin-right: 20px;
    cursor: pointer;
}
  
.cart_item {
    padding: 10px 0;
    box-shadow: inset 0 0 5px #000;
    margin: 5px 0;
    border-radius: 5px;
    justify-content: space-between;
}
  
.cart_item:hover {
    box-shadow: 0 0 5px #000;
}
  
.block_cart2 div {
    margin: 0 10px 0 0;
}
  
.block_cart1 {
    align-items: center;
    margin: 0 10px 0 0;
}
  
.block_cart2 {
    align-items: center;
}
.img_cart{
    img{
        width: 40px;
    }
    margin: 0 10px;
}
  
.price_cart {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
  
.size_item{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
  
.size_item p{
    font-weight: bold;
    margin: 0 20px;
    font-size: 20px;
}
  
.span{
    position: relative;
    top: -1px;
    font-weight: normal;
    text-transform: none;
    font-size: 15px;
    margin-right: 5px;
}
  
.delete_cart button {
    border: none;
    height: 24px;
}
  
.enabled {
    display: flex;
    cursor: pointer;
}
  
.img {
    transform: rotate(270deg);
    margin-left: 15px;
    margin-top: -2px;
    transition: all 0.3s;
}
    
.disabled {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}

.between{
    justify-content: space-between;
    padding: 40px;
}

.margin{
    margin: 10px;
}

.cart_empty{
    text-align: center;
    padding: 20px 0 50px 0;
    .title{
        margin: 40px 0;
    }
}