.item_details {
    margin: 30px auto;
  }
  
   .name_item_details{
     width: 300px;
   }
  
  .top_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .color_details span{
    font-weight: bold;
  }
  
  .top_details button {
    background-color: #e59f67;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 30px 0px;
  }
  
  .slider{
    display: flex;
    flex-direction: column;
    height: 700px;
    overflow: scroll;
    margin-right: 10px;
  }
  
  .slider::-webkit-scrollbar{
    cursor: pointer;
    width: 7px;
    height: 0px;
    border-radius: 7px;
    background-color: #d8d8d8;
  }
  
  .slider::-webkit-scrollbar-thumb{
    background-color: rgb(135, 135, 135);
    border-radius: 7px;
    &:hover{
      background-color: rgb(2, 2, 2);
    }
  }
  
  .image_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8%;
  }

  .image_button_slider{
    width: 80px;
    height: 100px;
    margin: 0px 10px 20px 10px;
    cursor: pointer;
    border: 2px solid #fff;
  }
  
  .image_button_slider:hover{
    border: 2px solid #000;
  }

  .image{
    cursor: zoom-in;
    overflow: hidden;
    width: 500px;
    height: 700px;
    img{
      width: 500px;
      height: 700px;
    }
  }
  
  .selects {
    display: flex;
    justify-content: space-between;
  }
  
  .size_details {
    margin-right: 10px;
  }

  .size_select{
    margin-top: 5px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    option{
      font-size: 20px;
    }
  }
  
  .price_details {
    margin-top: 10px;
  }

  .info_from_item{
    margin-top: -10px;
  }

  .details{
    margin-bottom: 10px;
  }