.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0;
}
  
.navBar {
    margin-top: 10px;
    display: flex;
}

.links{
  color: black;
  
}


.linkNotActive{
  background-color: rgb(222, 222, 222);
  color:rgb(0, 0, 0);
  margin: 0 5px;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.linkActive{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0 5px;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
  
.search button {
  position: relative;
  top: 4px;
  left: 5px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.logo{
  position: relative;
  left: -73px;
  z-index: 1;
}
  
  
.block_user {
  display: flex;
}

.block_user a {
  width: 32px;
  height: 32px;
}

.cart{
  position: relative;
  margin-top: 5px;
}

  /*----------------basket---------------------*/
  
  // .basket:hover .basket_items {
  //   display: flex;
  // }
  
  // .basket_items {
  //   border: solid 1px #000;
  //   display: none;
  //   position: absolute;
  //   z-index: 99;
  //   background-color: #fff;
  //   flex-direction: column;
  //   align-items: center;
  //   padding: 10px 15px;
  //   margin: 0px 0px 0px -300px;
  // }
  
  // .basket_items button {
  //   width: 80%;
  //   background-color: #e59f67;
  //   color: #fff;
  //   font-weight: bold;
  //   font-size: 15px;
  //   border-radius: 5px;
  //   text-transform: uppercase;
  //   border: none;
  //   padding: 10px 20px;
  //   cursor: pointer;
  // }
  
  // .basket_items h3 {
  //   color: #000;
  //   text-transform: uppercase;
  //   text-align: center;
  //   margin: 15px 0px;
  // }
  
  // .block_basket_items {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 304px;
  //   height: 330px;
  //   overflow: scroll;
  // }
  
  // .block_basket_items::-webkit-scrollbar {
  //   display: none;
  // }
  
  // .item_basket {
  //   display: flex;
  //   margin: 10px 0px;
  //   width: 300px;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   border-bottom: solid 1px gray;
  //   box-shadow: 0px 0px 4px #000;
  // }
  
  // .img_basket_item {
  //   margin: 10px 10px 10px 0px;
  // }
  
  // .text_basket {
  //   margin: 10px;
  //   width: 80px;
  //   color: #000;
  // }
  
  // .size {
  //   display: flex;
  //   margin: 5px 0px;
  // }
  // .quantity {
  //   display: flex;
  //   margin: 5px 0px;
  // }
  
  // .brand {
  //   margin: 5px 5px 5px 0px;
  // }
  
  // .name {
  //   margin: 5px 0px;
  // }
  
  // .price {
  //   color: red;
  //   font-weight: bold;
  //   font-size: 18px;
  //   display: flex;
  // }
  
  // .price p {
  //   margin: 10px 2px;
  // }
  
  // .delete {
  //   text-transform: uppercase;
  //   color: red;
  //   font-weight: bold;
  //   margin: 40px 0px 0px 25px;
  // }
  
  // .cart_login {
  //   width: 180px;
  //   display: flex;
  //   justify-content: center;
  // }
  /*-----------------------------------SEARCH------------------------------------------------------------------------------------------------*/

